@font-face {
    font-family: 'Font2';
    src: url('/assets/font/Font2-Regular.woff2') format('woff2'),
        url('/assets/font/Font2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
